
<%- include header %>
<div class="wrap" >
	<div class="main-content" >index</div>
	<div class="nav-right">
		<h5>最新加入用户列表</h5>
		<ul class="user-list" >
			<% newList.forEach( function(item, index) {%>
				<li><img class="head-mini bk-mr-5" src="<%= item.head%>" alt=""><%= item.name%></li>
			<% })%>
			
		</ul>
	</div>
</div>
