<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<style>
	*{margin:0;padding:0;}
		.header{
			height: 60px;
			background: #ccc;
		}
	</style>
</head>
<!-- <script src="//cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script> -->
<body>
	<%- include header %>
	<div>index</div>
</body>
</html>