<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录页</title>
	<style>
		.headwrap{
			width:140px;
			height: 140px;
			background: #ccc;
			overflow: hidden;
			border-radius: 50%;
		}
		.headwrap img{
			height:100%;
		}
		.item{
			float: left;
			margin:10px;
		}
	</style>
</head>
<body>
	<h1>登录页</h1>
</body>
</html>