
<script type="text/javascript">
	$(function(){
		$('#uploadbtn').on('change',function(){
			var _self = this;

			var file = this.files[0];

			console.log(file)
			if(!/image\/\w+/.test(file.type)){ 
		        $(_self).show_error('文件必须为图片！');
		        $(_self).val('');
		        return false; 
			}else{
				$(_self).reomve_error();
			}

			var reader = new FileReader();

			reader.onload = function(e){
				var data = e.target.result;
				var img = new Image();
				img.onload = function(){
					console.log(this.width,this.height);
					// $('#prew-img').attr('src',data);
					//上传服务器
					var formData = new FormData();
					formData.append('head', $('#uploadbtn')[0].files[0]);
					$.ajax({
					    url: '/file_upload',
					    type: 'POST',
					    cache: false,
					    data: formData,
					    processData: false,
					    contentType: false
					}).done(function(res) {
						console.log('服务器路径',res)
						if(res.code==0){
							$('#prew-img').attr('src',res.ret_msg.headsrc);
							$(_self).attr('_src',res.ret_msg.headsrc)
						}else{
							$(_self).show_error(res.ret_msg);
						}
						
					}).fail(function(res) {});
				}
				img.src=data;
			}

			reader.readAsDataURL(file);

		});

		$('[required]').blur();

		$('#submit').on('click',function(ev){
			ev.preventDefault();
			$('[required]').format();
			if($('.error').length>0){
				return;
			}
			$.post('/reg',{
				name:$('#name').val().trim(),
				pwd:hex_md5($('#pwd').val().trim()),
				age:$('#age').val().trim(),
				head:$('#uploadbtn').attr('_src')
			},function(data){
				// console.log('data',data,data.code)
				console.log('***',data.code,data.ret_msg)
				if(data.code==0){
					location.href='/user';
				}
			})
		});

	});
</script>

	<div class="page">
		
	<form class="form-horizontal" role="form" action="/file_upload" method="post" enctype="multipart/form-data">
		<div class="form-group">
			<label class="col-sm-2 control-label">用户名</label>
			<div class="col-sm-10"  >
			    <input type="email" id="name" required requiredMsg="请输入姓名" name="name" class="form-control"  placeholder="用户名">
			 </div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">密码</label>
			<div class="col-sm-10"  >
			    <input type="email" id="pwd" required requiredMsg="请输入密码" name="pwd" class="form-control"  placeholder="密码">
			 </div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">年龄</label>
			<div class="col-sm-10">
			    <input type="email" id="age" required requiredMsg="请输入年龄" name="age" class="form-control"  placeholder="年龄">
			 </div>
		</div>
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-2 control-label">头像</label>
			<div class="col-sm-10">
				<img src="" alt="" id="prew-img" class="prev-head img-rounded">
				<label for="uploadbtn" class=" btn btn-default">上传头像</label>
			    <input type="file" required requiredMsg="请上传图片" class="hidden" id="uploadbtn" name="image" size="50" />
			 </div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<input type="submit" id="submit"   class="btn btn-primary" value="注册" />
			</div>
		
		</div>
	</form>
	</div>